{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
<section class="wrapper">
	<div class="inner">
		<header class="special">
			  <h1>Forgot your password?</h1>
			  <p>Enter your email address below, and we'll email instructions for setting a new one.<br />*(The link that is supposed to be sent is stored and not sent. It can be found in the sent_emails folder.)*</p>

			  <form method="POST">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="Send me instructions!">
			  </form>
		</header>
	</div>
</section>
{% endblock %}